* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.content-wrapper {
    width: 93.5%;
    background: #F2F2F2;
    box-shadow: 0px 0px 0.78vw rgba(0, 0, 0, 0.2);
    border-radius: 1.95vw;
    position: absolute;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.nav-wrapper {
    height: 100%;
    width: 20%;
    left: 0vw;
    top: 0vw;
    background: #FFFFFF;
    border-radius: 1.95vw 0px 0px 1.95vw;
    box-shadow: 0px 0px 0.78vw rgba(0, 0, 0, 0.25);
}

.main-wrapper {
    width: 80%;
    height: 100%;
    float: right;
}

.app-logo {
    height: 2.34vw;
    width: 2.5vw;
}

.logo-wrapper {
    padding-top: 7%;
    padding-left: 13%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-wrapper h1 {
    font-size: 2vw;
    font-weight: 700;
    padding-left: 0.39vw;
    color: #47A515;
}

.menu-wrapper {
    padding-top: 0.5vw;
}

.menu-wrapper h1 {
    font-size: 2vw;
    font-weight: 700;
    color: #7E7E7E;
    padding-left: 13%;

}

.db-wrapper {
    padding-left: 7%;
    display: flex;
    list-style: none;
    flex-direction: column;
}

.db-icon {
    color: #A6A6A6;
}

.menu-wrapper a {
    text-decoration: none;
    font-size: 1.5vw;
    color: #A6A6A6;
}

.btn-container {
    width: 15vw;
    height: 4vw;
    display: flex;
    flex-direction: row;
}

.db-wrapper li.active a {
    color: #47A515;
}

.db-wrapper svg {
    color: #A6A6A6;
}

.db-wrapper .active svg {
    color: #47A515;
}

.db-wrapper a {
    margin-left: 0.5vw;
}

.rectangle {
    margin-top: 0.5vw;
    width: 110%;
    height: 0.5vw;
    background-color: #47A515;
    border-radius: 1vw;
}


.link-wrapper {
    display: flex;
    align-items: center;
}

.products-link {
    font-size: 2vw;
    font-weight: 700;
    color: #7E7E7E;
    align-self: center;
    text-decoration: none;
}

.product-nav-wrapper {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2vw;
}

.product-nav-wrapper h1 {
    text-align: center;
}

.table-container {
    margin-top: 2vw;
    font-size: 2vw;
    border: 0.1vw solid #A6A6A6;
    border-radius: 0.5vw;
    height: 45vh;
    width: 69vw;
    color: #5D5353;
}

.table-container p {
    font-size: 1.5vw;
    margin-left: 2vw;
}

.history-container {
    height: 50%;
    width: 50%;
    align-self: center;
    background-color: coral;
}

.product-nav-btn:hover {
    cursor: pointer;
}

.product-nav-btn h1 {
    font-size: 1.5vw;
    color: #5D5353;
    align-self: center;
    text-decoration: none;
}

.product-nav-btn {
    height: 4vw;
    width: 10vw;
}

.product-nav-btn.active h1 {
    color: #47a515;
}

.search-wrapper {
    width: 35vw;
    height: 5vw;
    background-color: #FFFFFF;
    box-shadow: 0px 0.3vw 0.3vw rgba(0, 0, 0, 0.25);
    border-radius: 0.3vw;
    margin-right: 7vw;
    margin-left: 2vw;
    display: flex;
    align-items: center;
}

.filter-btn {
    float: right;
    width: 5vw;
    height: 5vw;
    background-color: #FFFFFF;
    filter: drop-shadow(0px 0.5vw 0.5vw rgba(0, 0, 0, 0.25));
    border-radius: 0.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-btn:hover {
    cursor: pointer;
}

.add-item-wrapper {
    width: 69vw;
    height: 5vw;
    background: #7E7E7E;
    border-radius: 0.7vw;
    margin-top: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.add-item-wrapper p {
    font-size: 1.5vw;
    color: #FFFFFF;
}

.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-icon {
    margin-left: 2vw;
}

.search-input {
    margin-left: 3vw;
    width: 25vw;
    font-size: 1.7vw;
    border: none;
    text-decoration: none;
    color: #A6A6A6;
}

.search-input:focus {
    color: #7E7E7E;
    outline: none;
}

.search-input::placeholder {
    color: #A6A6A6;
}

.add-item-input {
    width: 6vw;
    font-size: 1.5vw;
    border: none;
    text-decoration: none;
    color: #A6A6A6;
    margin-left: 0.7vw;
}

.add-item-input:focus {
    color: #7E7E7E;
    outline: none;
}

.add-item-input::placeholder {
    color: #A6A6A6;
}

.add-item-qty-input {
    width: 5.5vw;
    font-size: 1.5vw;
    border: none;
    text-decoration: none;
    color: #A6A6A6;
    margin-left: 0.7vw;
}

.add-item-qty-input:focus {
    color: #7E7E7E;
    outline: none;
}

.add-item-qty-input::placeholder {
    color: #A6A6A6;
}

.add-itemName-input {
    width: 5vw;
    font-size: 1.5vw;
    border: none;
    text-decoration: none;
    color: #A6A6A6;
    margin-left: 1.5vw;
}

.add-itemName-input:focus {
    color: #7E7E7E;
    outline: none;
}

.add-itemName-input::placeholder {
    color: #A6A6A6;
}

.item-code-wrapper {
    width: 7.5vw;
    height: 3.5vw;
    font-size: 1.5vw;
    border: none;
    text-decoration: none;
    background-color: #FFFFFF;
    color: #A6A6A6;
    display: flex;
    align-items: center;
    filter: drop-shadow(0px 0.4167vw 0.4167vw rgba(0, 0, 0, 0.25));
    border-radius: 0.4167vw;
}

.item-qty-wrapper {
    width: 7vw;
    height: 3.5vw;
    font-size: 1.5vw;
    border: none;
    background-color: #FFFFFF;
    color: #A6A6A6;
    display: flex;
    align-items: center;
    filter: drop-shadow(0px 0.4167vw 0.4167vw rgba(0, 0, 0, 0.25));
    border-radius: 0.4167vw;
}

.item-wrapper-btn {
    width: 12vw;
    height: 3.5vw;
    font-size: 1.5vw;
    border: none;
    background-color: #FFFFFF;
    color: #5D5353;
    display: flex;
    align-items: center;
    filter: drop-shadow(0px 0.4167vw 0.4167vw rgba(0, 0, 0, 0.25));
    border-radius: 0.4167vw;
    align-items: center;
    justify-content: space-between;
}

.item-wrapper-btn p,
.item-wrapper-btn svg {
    color: #5D5353;
    font-size: 1.5vw;
    padding: 0.5vw;
}

.item-wrapper-btn:hover {
    cursor: pointer;
}

.add-btn {
    border: 0.2vw solid #47A515;
    color: #47A515;
    font-size: 1.5vw;
    height: 3.5vw;
    width: 7vw;
    background-color: #FFFFFF;
    filter: drop-shadow(0px 0.4167vw 0.4167vw rgba(0, 0, 0, 0.25));
    border-radius: 0.4167vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-btn:hover {
    cursor: pointer;
}

.login-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    height: 100vh;
    background-color: #FFFFFF;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-page-wrapper {
    position: absolute;
    top: -1vw;
    left: -1vw;
    height: 95vh;
    background-color: #FFFFFF;
    width: 96vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error-page-wrapper h1 {
    color: #5D5353;
    font-size: 4vw;
    text-align: center;
}

.error-page-wrapper h2 {
    color: red;
    font-size: 1.5vw;
    text-align: center;
}

.redirect-timer {
    font-size: 1vw;
    color: #47A515;
}

.desc-nav {
    margin-top: -1.5vw;
}

.desc-nav h1 {
    color: #7E7E7E;
    font-size: 2vw;
    margin-bottom: -1.5vw;
}

.desc-nav p {
    color: #A6A6A6;
    font-size: 1.5vw;
}

.desc-nav h1 {
    text-align: left;
}

.calendar-btns {
    margin-top: 1.7vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 69vw;
}

.prev-btn {
    width: 3.5vw;
    height: 3.5vw;
    background-color: #7E7E7E;
    border-radius: 0.5vw 0vw 0vw 0.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.next-btn {
    width: 3.5vw;
    height: 3.5vw;
    background-color: #7E7E7E;
    border-radius: 0vw 0.5vw 0.5vw 0vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.today-btn {
    width: 7.5vw;
    height: 3.5vw;
    background-color: #A1A1A1;
    border-radius: 0.5vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.today-btn p {
    font-size: 1vw;
    color: #FFFFFF;
}

.date-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.date-wrapper:hover {
    cursor: pointer;
}

.date-wrapper h1 {
    font-size: 1.5vw;
    color: #7E7E7E;
    margin: 0.5vw 0vw 0.5vw 0vw;
    max-width: 35vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.month-btn {
    width: 5vw;
    height: 3.5vw;
    background-color: #A1A1A1;
    border-radius: 0.5vw 0vw 0vw 0.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 1vw;
}

.week-btn {
    width: 5vw;
    height: 3.5vw;
    background-color: #A1A1A1;
    border-radius: 0vw 0vw 0vw 0vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 1vw;
}

.day-btn {
    width: 5vw;
    height: 3.5vw;
    background-color: #A1A1A1;
    border-radius: 0vw 0.5vw 0.5vw 0vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 1vw;
}

.prev-next-btn {
    display: flex;
    flex-direction: row;
}

.month-week-day {
    display: flex;
    flex-direction: row;
}

.next-btn:hover,
.prev-btn:hover,
.today-btn:hover,
.month-btn:hover,
.week-btn:hover,
.day-btn:hover,
.back-btn:hover {
    cursor: pointer;
}

.dashboard-cards {
    display: flex;
    flex-direction: column;
}

.back-btn {
    width: 2.5vw;
    height: 2.5vw;
    background-color: #47A515;
    border-radius: 0.5vw 0.5vw 0.5vw 0.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stock-content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2vw;
    margin-left: 3vw;
    margin-bottom: 1vw;
}

.stock-content-wrapper h1 {
    font-size: 1.5vw;
}

.stock-container {
    display: flex;
    flex-direction: column;
    height: 85vh;
    overflow: hidden;
}

.grid-wrapper {
    flex: 1;
    overflow-y: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5vw;
    padding: 0vw 2vw 0vw 3vw;
}

@media screen and (max-width: 880px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 1.5vw;
        padding: 0vw 2vw 0vw 3vw;
    }

    .image-container {
        width: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        padding: 0.5vw 0.5vw 0vw 0.5vw;
    }

    .grid-item {
        padding: 1vw;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }

    .image {
        width: 100%;
        height: 50%;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
    }

    .item-container {
        padding: 0vw 1.5vw 0vw 1.5vw;
    }

    .grid-items {
        padding: 0vw 1.5vw 0vw 1.5vw;
    }

    .operation-container {
        padding-right: 5px;
    }
}

.grid-item {
    padding: 1vw;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.item-container p {
    font-weight: 600;
    font-size: 16px;

}

.item-container h2 {
    font-weight: 600;
    font-size: 20px;
}

.grid-items p {
    font-weight: 600;
    font-size: 16px;

}

.grid-items h2 {
    font-weight: 600;
    font-size: 20px;
}

.image-container {
    width: 100%;
    height: 20vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    align-self: center;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.bottom-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.operation-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.minus-btns {
    height: 40px;
    width: 40px;
    background-color: #DD1F1F;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.plus-btns {
    height: 40px;
    width: 40px;
    background-color: #1F82DD;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.minus-btns:hover,
.plus-btns:hover {
    cursor: pointer;
}

.qty-field {
    width: 70px;
    height: 40px;
    font-size: 25px;
    font-weight: 600;
    text-decoration: underline;
    outline-color: none;
    outline: none;
    background-color: transparent;
    border: none;
    text-align: center;
}

.operation-container>div {
    user-select: none;
}


.no-data-img {
    height: 400px;
    width: 372.77px;
}

@media screen and (max-width:550px) {
    .no-data-img {
        height: 200px;
        width: 172.77px;
    }
}

@media screen and (max-width:200px) {
    .no-data-img {
        height: 100px;
        width: 72.77px;
    }

    .no-data p {
        font-size: 10px;
    }
}

.no-data {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.no-data p {
    color: #A6A6A6;
}

.cards-container {
    overflow-y: auto;
    gap: 1.5vw;
    padding: 0vw 3vw 0vw 3vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    height: 100%;
}

.parent-div {
    border-radius: 10px;
    background-color: #E4EAE6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-parent {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.sub-parent h1 {
    color: #7E7E7E;
    font-size: 36px;
    margin-bottom: 5px;
}

.data-txt {
    margin-bottom: 50px;
}

.sub-parent p {
    color: #5D5353;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
}

.title-txt {
    margin-top: 50px;
}

.cards-data-img {
    height: 150px;
    width: 150px;
}

.more-products-btn {
    text-decoration: none;
    color: #47A515;
    margin-left: 90px;
    font-size: 24px;
}

.image-and-button {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
}

@media screen and (max-width: 1040px) {
    .cards-container {
        overflow-y: auto;
        gap: 1.5vw;
        padding: 0vw 3vw 0vw 3vw;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(34vw, 1fr));
    }

    .parent-div {
        border-radius: 10px;
        background-color: #E4EAE6;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sub-parent {
        display: flex;
        flex-direction: column;
        margin-left: 5vw;
    }

    .sub-parent h1 {
        color: #7E7E7E;
        font-size: 6vw;
        margin-bottom: 1vw;
    }

    .data-txt {
        margin-bottom: 5vw;
    }

    .sub-parent p {
        color: #5D5353;
        font-size: 3vw;
        margin-top: 0;
        margin-bottom: 0;
    }

    .title-txt {
        margin-top: 5vw;
    }

    .cards-data-img {
        height: 20vw;
        width: 20vw;
    }

    .more-products-btn {
        text-decoration: none;
        color: #47A515;
        margin-left: 5vw;
        font-size: 3vw;
    }

    .image-and-button {
        display: flex;
        flex-direction: column;
        margin-right: 3vw;
    }
}

@media screen and (max-width: 800px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
        gap: 1.5vw;
        padding: 0vw 2vw 0vw 3vw;
    }

    .grid-item {
        padding: 1vw;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }

    .item-container {
        display: flex;
        flex-direction: column;
        margin-left: -12.5vw;
    }

    .item-container p {
        font-weight: 600;
        font-size: 2.5vw;
        margin: 0;
    }

    .item-container h2 {
        font-weight: 600;
        font-size: 3vw;
    }

    .grid-items {
        display: flex;
        flex-direction: column;
        margin-left: -12.5vw;
    }

    .grid-items p {
        font-weight: 600;
        font-size: 2.5vw;
        margin: 0;
    }

    .grid-items h2 {
        font-weight: 600;
        font-size: 3vw;
    }

    .image-container {
        width: 100%;
        height: 10vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        align-self: center;
    }

    .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .bottom-container {
        display: flex;
        flex-direction: column;
    }

    .operation-container {
        display: flex;
        flex-direction: row;
        margin: 2.5vw;
        justify-content: center;
        align-items: center;
    }

    .minus-btns {
        height: 5vw;
        width: 5vw;
        background-color: #DD1F1F;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    }

    .plus-btns {
        height: 5vw;
        width: 5vw;
        background-color: #1F82DD;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    }

    .qty-field {
        width: 14vw;
        height: 5vw;
        font-size: 3.5vw;
        font-weight: 600;
        text-decoration: underline;
        outline-color: none;
        outline: none;
        background-color: transparent;
        border: none;
        text-align: center;
        margin: 0;
    }

}

@media screen and (max-width: 799px) and (min-width: 1px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
        gap: 1.5vw;
        padding: 0vw 2vw 0vw 3vw;
    }

    .grid-item {
        padding: 1vw;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }

    .item-container {
        display: flex;
        flex-direction: column;
        margin-left: -12.5vw;
    }

    .item-container p {
        font-weight: 600;
        font-size: 2.5vw;
        margin: 0;
    }

    .item-container h2 {
        font-weight: 600;
        font-size: 3vw;
    }

    .grid-items {
        display: flex;
        flex-direction: column;
        margin-left: -12.5vw;
    }

    .grid-items p {
        font-weight: 600;
        font-size: 2.5vw;
        margin: 0;
    }

    .grid-items h2 {
        font-weight: 600;
        font-size: 3vw;
    }

    .image-container {
        width: 100%;
        height: 20vw;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        align-self: center;
    }

    .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .bottom-container {
        display: flex;
        flex-direction: column;

    }

    .bottom-container p {
        margin: 0;
        display: flex;
        font-size: 2vw;
        margin-left: 8vw;
    }

    .bottom-container h2 {
        margin: 0;
        font-size: 3vw;
        margin-top: 5px;
    }

    .items-container {
        display: flex;
        align-items: center;
        width: 30vw;
    }

    .operation-container {
        display: flex;
        flex-direction: row;
        margin: 2.5vw;
        justify-content: center;
        align-items: center;
    }

    .minus-btns {
        height: 5vw;
        width: 5vw;
        background-color: #DD1F1F;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    }

    .plus-btns {
        height: 5vw;
        width: 5vw;
        background-color: #1F82DD;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    }

    .qty-field {
        width: 14vw;
        height: 5vw;
        font-size: 3.5vw;
        font-weight: 600;
        text-decoration: underline;
        outline-color: none;
        outline: none;
        background-color: transparent;
        border: none;
        text-align: center;
        margin: 0;
    }

}

.notifBall {
    position: absolute;
    top: 0.7vw;
    right: 0.7vw;
    height: 1vw;
    width: 1vw;
    background-color: #DD1F58;
    border-radius: 1vw;
}

.notification-container {
    background-color: #FFFFFF;
    height: 75vh;
    width: 25vw;
    margin-top: 6vw;
    margin-left: 48.5vw;
    position: absolute;
    z-index: 1;
    box-shadow: 0vw 0vw 1vw rgba(0, 0, 0, 0.2);
    border-radius: 1vw;
    overflow: hidden;
}

.notification-container h1 {
    font-weight: 700;
    font-size: 2vw;
    padding: 0vw 0vw 0vw 2vw;
}

.item-container {
    display: flex;
    margin-top: 1vw;
    flex-direction: column;
    overflow-y: auto;
    height: 55vh;
    align-items: center;
}

.grid-items {
    display: flex;
    margin-top: 1vw;
    flex-direction: column;
    overflow-y: auto;
    height: 55vh;
    align-items: center;
}

.item-wrap:hover {
    cursor: pointer;
}

.image-wrapper {
    height: 4vw;
    width: 4vw;
    align-items: center;
    border-radius: 4vw;
    overflow: hidden;
}

.notif-item-image {
    height: 5vw;
    width: 5vw;
    align-items: center;
    border-radius: 0.5vw;
    overflow: hidden;
}

.item-wrap {
    flex-direction: row;
    padding: 1vw;
    margin-bottom: 15px;
    display: flex;
    width: 22.5vw;
    border-radius: 10px;
    align-items: center;
    position: relative;
}

.item-txt {
    margin-left: 20px;
}

.all-btn {
    background: #47A515;
    border-radius: 25px;
    width: 3.5vw;
    height: 2.5vw;
    border: none;
    color: #5D5353;
    font-size: 1vw;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.unread-btn {
    background: #F2F2F2;
    border-radius: 25px;
    width: 7vw;
    height: 2.5vw;
    border: none;
    color: #5D5353;
    font-size: 1vw;
    font-weight: 400;
    margin-left: 0.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.all-btn:hover,
.unread-btn:hover {
    cursor: pointer;
}

.mark-all-btn {
    background: none;
    border-radius: 25px;
    width: 10vw;
    height: 2.5vw;
    border: none;
    color: #47A515;
    font-size: 1vw;
    font-weight: 400;
    margin-left: 2vw;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notif-btns {
    margin-left: 1.5vw;
}

.unread-circle {
    background-color: #47A515;
    border-radius: 100px;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 1vw;
    width: 1vw;
}

.notif-btns {
    align-items: center;
    display: flex;
    justify-content: center;
}

@media (max-width: 800px) {
    .notification-container {
        background-color: #FFFFFF;
        height: 65vh;
        width: 25vw;
        margin-top: 6vw;
        position: absolute;
        z-index: 1;
        box-shadow: 0vw 0vw 1vw rgba(0, 0, 0, 0.2);
        border-radius: 1vw;
        overflow: hidden;
    }

    .item-txt p {
        font-size: 1.5vw;
    }

    .grid-items {
        margin-left: 0vw;
        overflow-x: hidden;
    }

    .item-container {
        display: flex;
        margin-top: 1vw;
        flex-direction: column;
        overflow-y: auto;
        height: 60vh;
        align-items: center;
    }

    .item-wrap:hover {
        cursor: pointer;
    }

    .image-wrapper {
        height: 4vw;
        width: 4vw;
        align-items: center;
        border-radius: 4vw;
        overflow: hidden;
    }

    .item-wrap {
        flex-direction: row;
        padding: 1vw;
        margin-bottom: 1.5vw;
        display: flex;
        width: 22.5vw;
        height: 12vw;
        border-radius: 1.3vw;
        align-items: center;
        position: relative;
    }

    .item-txt {
        margin-left: 2.5vw;
    }

    .all-btn:hover,
    .unread-btn:hover {
        cursor: pointer;
    }

    .notif-btns {
        margin-left: 1.9vw;
    }

    .close-notif {
        margin-left: 0vw;
        margin-left: 7vw;
    }
}

.caught-up-message p {
    margin-top: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
    color: #A6A6A6;
    font-weight: 400;
}

.close-notif {
    margin-left: 8vw;
}

.legend {
    height: 1vw;
    width: 6vw;
    border-radius: 0.5vw;
    font-size: 1vw;

}

.blue {
    height: 0.5vw;
    width: 1vw;
    background-color: #1F82DD;
    border-radius: 1vw;
}

.red {
    height: 0.5vw;
    width: 1vw;
    background-color: #DD1F58;
    border-radius: 1vw;
}

@media (max-width: 950px) and (min-width: 801px) {
    .item-txt p {
        font-size: 1.5vw;
    }

    .item-container {
        display: flex;
        margin-top: 1vw;
        flex-direction: column;
        overflow-y: auto;
        height: 60vh;
        align-items: center;
    }

    .item-wrap:hover {
        cursor: pointer;
    }

    .image-wrapper {
        height: 4vw;
        width: 4vw;
        align-items: center;
        border-radius: 4vw;
        overflow: hidden;
    }

    .item-wrap {
        flex-direction: row;
        padding: 1vw;
        margin-bottom: 1.5vw;
        display: flex;
        width: 22.5vw;
        height: 12vw;
        border-radius: 1.3vw;
        align-items: center;
        position: relative;
    }

    .item-txt {
        margin-left: 2.5vw;
    }

    .all-btn {
        border-radius: 3.1vw;
        width: 3.7vw;
        height: 2.7vw;
        border: none;
        color: #5D5353;
        font-size: 1.05vw;
        font-weight: 400;
    }

    .unread-btn {
        border-radius: 3.1vw;
        width: 7.3vw;
        height: 2.7vw;
        border: none;
        color: #5D5353;
        font-size: 1.05vw;
        font-weight: 400;
        margin-left: 0.6vw;
    }

    .all-btn:hover,
    .unread-btn:hover {
        cursor: pointer;
    }

    .mark-all-btn {
        background: none;
        border-radius: 3.1vw;
        width: 10.4vw;
        height: 2.7vw;
        border: none;
        color: #47A515;
        font-size: 1.05vw;
        font-weight: 400;
        margin-left: 1.5vw;
        text-decoration: none;
    }

    .notif-btns {
        margin-left: 1.9vw;
    }

    .close-notif {
        margin-left: 0vw;
        margin-left: 7vw;
    }

    .grid-items {
        overflow-x: hidden;
    }
}

@media (max-width: 799px) and (min-width: 1px) {
    .item-txt {
        margin-left: 2.5vw;
    }
}

.close-notif:hover {
    cursor: pointer;
}

.selected-item-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 74.8vw;
    background: rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.selected-item {
    position: absolute;
    width: 340px;
    height: 340px;
    background-color: #F2F2F2;
    filter: drop-shadow(0vw 0vw 1vw rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.selected-image {
    height: 200px;
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.selected-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 340px;
    height: 340px;
    border-radius: 10px;
    user-select: none;
}

.bottom-wrap {
    display: flex;
}

/* default styles */
.operation-containers {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 35px;
}

.minus-btnss {
    height: 40px;
    width: 40px;
    background-color: #DD1F1F;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.plus-btnss {
    height: 40px;
    width: 40px;
    background-color: #1F82DD;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.qty-fields {
    width: 70px;
    height: 40px;
    font-size: 25px;
    font-weight: 600;
    text-decoration: underline;
    outline-color: none;
    outline: none;
    background-color: transparent;
    border: none;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .selected-item-container {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
        width: 74.8vw;
        background: rgba(0, 0, 0, 0.25);
    }

    .selected-item {
        position: absolute;
        width: 220px;
        height: 220px;
        background-color: #F2F2F2;
        filter: drop-shadow(0vw 0vw 1vw rgba(0, 0, 0, 0.25));
        border-radius: 10px;
        display: flex;
        align-items: center;
    }

    .selected-image {
        height: 100px;
        width: 200px;
        object-fit: cover;
        border-radius: 10px;
    }

    .selected-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 220px;
        height: 220px;
        border-radius: 10px;
    }

    .bottom-wrap {
        display: flex;
    }

    /* default styles */
    .operation-containers {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-left: 50px;
    }

    .minus-btnss {
        height: 30px;
        width: 30px;
        background-color: #DD1F1F;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    }

    .plus-btnss {
        height: 30px;
        width: 30px;
        background-color: #1F82DD;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    }

    .qty-fields {
        width: 35px;
        height: 25px;
        font-size: 20px;
        font-weight: 600;
        margin-left: -3px;
        text-decoration: underline;
        outline-color: none;
        outline: none;
        background-color: transparent;
        border: none;
        text-align: center;
    }

}

.close-selected-item {
    position: fixed;
    top: 0;
    right: 0;
    margin: 5px 10px 10px 0vw;
}

.filter-container {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 20.5vw;
    height: 22.5vw;
    background: #FFFFFF;
    box-shadow: 0vw 0vw 1vw rgba(0, 0, 0, 0.1);
    border-radius: 1vw;
    margin-right: 1vw;
    margin-top: 6vw;
    overflow: hidden;
    overflow-y: auto;
}

.selected-filter-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.selected-filter {
    display: flex;
    flex-direction: row;
}

.item-filter {
    list-style: none;
    width: 10vw;
    height: 3.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    font-size: 1vw;
}

.item-filter p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
}

.item-filter:hover {
    cursor: pointer;
}

input[type=checkbox] {
    height: 1.5vw;
    width: 1.5vw;
    accent-color: #47A515;
}

.checkbox-container {
    display: flex;
    margin-left: 1.5vw;
    padding: 0.5vw;
    font-size: 1vw;
    align-items: center;
    height: 2.8vw;
}

.item-filter-container {
    width: 12vw;
    height: 2vw;
    background-color: #47A515;
    margin-left: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 2vw;
}

.item-filter-container>div {
    user-select: none;
}

.item-filter-container:hover {
    cursor: pointer;
}

.close-btn {
    border: none;
    color: #FFFFFF;
    font-size: 1vw;
}

.more-filter-btn {
    height: 2vw;
    width: 7vw;
    font-size: 1vw;
    color: #5D5353;
    text-decoration: underline;
    display: flex;
    align-items: center;
    justify-content: right;
}

.more-filter-container {
    display: flex;
    flex-direction: row;
    text-align: right;
    align-items: center;
    margin-right: 1vw;
}

.clear-all-filter-btn {
    height: 2vw;
    width: 7vw;
    font-size: 1vw;
    color: #DD1F1F;
    text-decoration: underline;
    display: flex;
    align-items: center;
    justify-content: right;
}

.selected-items-container {
    width: 70vw;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -2vw;
    z-index: 1;
}

.more-filter-btn:hover,
.clear-all-filter-btn:hover,
.checkbox-container:hover,
.check:hover {
    cursor: pointer;
}

.filter-btn>div,
.more-filter-btn>div .clear-all-filter-btn>div {
    user-select: none;
}

.checkbox-items-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2vw;
    margin-bottom: 2vw
}

.radio-container {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 20.5vw;
    height: 22.5vw;
    background: #FFFFFF;
    box-shadow: 0vw 0vw 1vw rgba(0, 0, 0, 0.1);
    border-radius: 1vw;
    margin-right: 15vw;
    margin-top: 13.5vw;
    overflow: hidden;
    overflow-y: auto;
}

.radio-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2vw;
    margin-bottom: 2vw;

}

.radio-item-container label {
    font-size: 1vw;
    display: flex;
    align-items: center;
    height: 0vw;
}

.radio-items-container {
    margin-left: 2vw;
}



.radio-select {
    /* Set the size of the radio button */
    width: 1.5vw;
    height: 1.5vw;
}

.radio-select:checked {
    /* Set the color of the radio button when selected */
    accent-color: #47A515;
}

.item-wrapper-btn>div,
.item-wrapper-btn>p {
    user-select: none;
}

.item-wrapper-btn p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.radio-item-container span:hover {
    cursor: pointer;
}

.date-picker {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 600px;
    height: 450px;
    background: #FFFFFF;
    box-shadow: 0vw 0vw 1vw rgba(0, 0, 0, 0.1);
    border-radius: 1vw;
    margin-right: 1vw;
    margin-top: 6vw;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: auto;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar {
    margin-top: 2vw;
    margin-bottom: 1vw;
    background-color: #1F82DD;
}

@media screen and (max-width: 840px) {
    .date-picker {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        width: 350px;
        height: 450px;
        background: #FFFFFF;
        box-shadow: 0vw 0vw 1vw rgba(0, 0, 0, 0.1);
        border-radius: 1vw;
        margin-right: 1vw;
        margin-top: 6vw;
        overflow: hidden;
        overflow-y: auto;
        overflow-x: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .calendar {
        margin-top: 2vw;
        margin-bottom: 1vw;
    }

    .rdrDefinedRangesWrapper {
        display: none;
    }
}

.calendar-btns>div {
    user-select: none;
}

.selected {
    background-color: #7E7E7E;
}

.table-container {
    overflow: auto;
}

.tbl-img {
    width: 5vw;
    height: 5vw;
    object-fit: cover;
}

.table-container td {
    font-size: 1vw;
}

.table-container th {
    font-size: 1vw;
    font-weight: 500;
}

tr.expanded {
    background-color: #B5B5B5;
}

table th {
    text-align: center;
    padding: 0vw 1vw 0vw 1vw;
    border: 1px solid #A6A6A6;
    background-color: #7E7E7E;
    color: #FFFFFF;
    height: 4vw;
}

table td {
    text-align: center;
    padding: 1vw 1vw 1vw 1vw;
    border: 1px solid #A6A6A6;
}

table {
    padding: 2vw;
    border-collapse: collapse;
    width: 100%;
}

.image-input-container {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 57vw;
    height: 3.6vw;
    background: #FFFFFF;
    box-shadow: 0vw 0vw 1vw rgba(0, 0, 0, 0.1);
    border-radius: 0.5vw;
    margin-right: 3.5vw;
    margin-top: 10.2vw;
    display: flex;
    align-items: center;
}

.img-link-btns {
    margin-right: -0.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vw;
    flex-direction: row;
}

.add-itemLink-input {
    width: 51.5vw;
    font-size: 1.5vw;
    border: none;
    color: #A6A6A6;
    margin-left: 1.5vw;
}

.add-itemLink-input:focus {
    color: #7E7E7E;
    outline: none;
}

.add-itemLink-input::placeholder {
    color: #A6A6A6;
}

.img-link-btns div {
    height: 2vw;
    width: 2vw;
    border-radius: 0.4vw;
    margin-left: 1vw;
    background-color: #FFFFFF;
}

.img-link-btns svg {
    height: 2vw;
    width: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4vw;
}

.img-link-btns svg:hover {
    cursor: pointer;
}

.edit-row,
.edit-category {
    width: 100%;
    height: 1.5vw;
    font-size: 1vw;
    outline: none;
    border: 0.1vw solid #47A515;
    text-align: center;
    background-color: transparent;
    color: #5D5353;
}

.edit-category:hover {
    cursor: pointer;
}

.action-btns svg {
    padding: 0.2vw;
}

.action-btns svg:hover {
    cursor: pointer;
}

.item-img {
    height: 4vw;
    width: 100%;
    object-fit: cover;
}

.item-img-container {
    padding: 0;
}

.no-datas {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.no-datas p {
    color: #5D5353;
    font-size: 1vw;
}

.no-datas-img {
    height: 9vw;
    width: 7.5vw;
}

.table-wrapper {
    margin-top: 2vw;
    font-size: 2vw;
    border: 0.1vw solid #A6A6A6;
    border-radius: 0.5vw;
    height: 45vh;
    width: 69vw;
    color: #5D5353;
}

.table-wrapper p {
    font-size: 1.5vw;
    margin-left: 2vw;
}

.table-wrapper {
    overflow: auto;
}

.table-wrapper td {
    font-size: 1vw;
}

.table-wrapper th {
    font-size: 1vw;
    font-weight: 500;
}

.table-wrapper tr:hover {
    cursor: pointer;
    background-color: #B5B5B5;
}

.profile-wrapper {
    height: 25vw;
    width: 25vw;
    background-color: #FFFFFF;
    margin-top: 6.5vw;
    margin-left: 48.5vw;
    position: absolute;
    z-index: 1;
    box-shadow: 0vw 0vw 1vw rgba(0, 0, 0, 0.2);
    border-radius: 1vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.profile-wrapper-link {
    text-decoration: none;
}

.profile-links {
    color: #5D5353;
    font-size: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5vw 0vw 0vw 1.5vw;
    position: relative;
}

.profile-links p {
    margin-left: 0.5vw;
}

.wrap-profile {
    display: flex;
    justify-content: center;
    margin-top: 1vw;
}

.profile-btn-container {
    width: 23vw;
    height: 10vw;
    box-shadow: 0vw 0vw 1vw rgba(0, 0, 0, 0.2);
    border-radius: 0.5vw;
    align-items: center;
    justify-content: center;
}

.manage-products-link {
    color: #47A515;
    font-size: 1vw;
    width: 11vw;
}

.manage-products-link {
    cursor: pointer;
}

.icon-container {
    height: 2.5vw;
    width: 2.5vw;
    border-radius: 2.5vw;
    background-color: #E7E7E7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns-wrap {
    margin-top: 1vw;
}

.btns-wrap:hover {
    cursor: pointer;
}

.profile-links-bg-color {
    margin-left: -0.5vw;
    width: 23vw;
    height: 3.5vw;
    position: absolute;
    border-radius: 0.5vw;
    z-index: -1;
}

.profile-links:hover .profile-links-bg-color {
    cursor: pointer;
    background-color: #EDF3EC;
}

.login-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 0.78vw rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
}

.login-btn {
    width: 100px;
    height: 40px;
    border: 2px solid #47A515;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #47A515;
    margin-right: -300px;
}

.login-btn p {
    font-weight: 600;
    font-size: 15px;
}

.uname-lbl,
.pword-lbl {
    font-weight: 500;
    font-size: 17px;
    color: #5D5353;
}

.uname-input,
.pword-input {
    border: none;
    outline: none;
    color: #8B8B8B;
    font-weight: 500;
    font-size: 15px;
    border-bottom: 3px solid #D9D9D9;
    border-radius: 2px;
    height: 40px;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.uname-input::placeholder,
.pword-input::placeholder {
    color: #8B8B8B;
}

.uname-wrapper,
.pword-wrapper {
    display: flex;
    flex-direction: column;
}

.login-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.warning-svg {
    margin-right: 10px;
}

.warning-desc {
    font-size: 20px;
    font-weight: 500;
    color: #000000;
}

.pword-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pword-show-hide:hover {
    cursor: pointer;
}

.login-btn:hover {
    cursor: pointer;
}

.invalid-credentials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 420px;
}

.invalid-input {
    border-bottom: 3px solid #DD1F58;
}

.login-btn:focus {
    border: 2px solid #47A515;
    outline: #47A515;
}

.pie-chart-wrapper {
    width: 27vw;
    height: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.parent-divs {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-parents {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.sub-parents p {
    color: #7E7E7E;
    font-size: 15px;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1920px) and (min-width: 1366px) {
    .sub-parents {
        margin-left: 4vw;
    }

    .sub-parents p {
        margin-left: -10vw;
    }
}

@media screen and (max-width: 540px) {
    .pie-chart-wrapper {
        width: 50vw;
        height: 50vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    .login-wrapper {
        margin-top: -75px;
    }

    .login-container {
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 200px;
        border-radius: 10px;
        box-shadow: 0px 0px 0.78vw rgba(0, 0, 0, 0.2);
        align-items: center;
        justify-content: center;
    }

    .login-btn {
        width: 70px;
        height: 30px;
        border: 2px solid #47A515;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #47A515;
        margin-right: -230px;
    }

    .login-btn p {
        font-weight: 600;
        font-size: 12.5px;
    }

    .uname-lbl,
    .pword-lbl {
        font-weight: 500;
        font-size: 14px;
        color: #5D5353;
    }

    .uname-input,
    .pword-input {
        border: none;
        outline: none;
        color: #8B8B8B;
        font-weight: 500;
        font-size: 12.5px;
        border-bottom: 3px solid #D9D9D9;
        border-radius: 2px;
        height: 25px;
        width: 300px;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .uname-input::placeholder,
    .pword-input::placeholder {
        color: #8B8B8B;
    }

    .uname-wrapper,
    .pword-wrapper {
        display: flex;
        flex-direction: column;
    }

    .login-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center
    }

    .warning-svg {
        margin-right: 5px;
    }

    .warning-desc {
        font-size: 13.5px;
        font-weight: 500;
        color: #000000;
    }

    .invalid-credentials {
        font-size: 12.5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 330px;
    }

}

.search-suggestion-container {
    width: 35vw;
    height: 75%;
    background-color: #FFFFFF;
    position: absolute;
    right: 0;
    margin-right: 18.7vw;
    margin-top: 8vw;
    border-radius: 0.5vw;
    box-shadow: 0px 0px 0.78vw rgba(0, 0, 0, 0.2);
    padding: 1.5vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-result-container {
    width: 100%;
    max-height: 95%;
    background-color: #FFFFFF;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-result-container p {
    font-size: 1.2vw;
    color: #5D5353;
}

.search-result-item {
    width: 100%;
    height: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    margin-bottom: 1vw;
    padding: 0.5vw;
    border-radius: 0.5vw;
}

.search-result-item:hover {
    cursor: pointer;
    background-color: #B5B5B5;
}

.search-result-img {
    width: 7vw;
    height: 4vw;
    object-fit: cover;
    border-radius: 0.5vw;
}