* {
    box-sizing: border-box;
}

.canvas {
    width: 100%;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.content-wrapper {
    width: 93.5%;
    background: #F2F2F2;
    box-shadow: 0px 0px 0.78vw rgba(0, 0, 0, 0.2);
    border-radius: 1.95vw;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.nav-wrapper {
    height: 100%;
    width: 20%;
    left: 0vw;
    top: 0vw;
    background: #FFFFFF;
    border-radius: 1.95vw 0px 0px 1.95vw;
    box-shadow: 0px 0px 0.78vw rgba(0, 0, 0, 0.25);
}

.main-wrapper {
    width: 80%;
    height: 100%;
    float: right;
    background-color: aqua;
}

.app-logo {
    height: 2.34vw;
    width: 2.5vw;
}

.logo-wrapper {
    padding-top: 7%;
    padding-left: 13%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-wrapper h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 2vw;
    font-weight: 700;
    padding-left: 0.39vw;
    color: #47A515;
}

.menu-wrapper {
    padding-top: 0.5vw;
}

.menu-wrapper h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 2vw;
    font-weight: 700;
    color: #7E7E7E;
    padding-left: 13%;

}

.db-wrapper {
    padding-left: 7%;
    display: flex;
    list-style: none;
    flex-direction: column;
}

.db-icon {
    color: #A6A6A6;
}

.menu-wrapper a {
    text-decoration: none;
    font-size: 1.5vw;
    color: #A6A6A6;
}

.btn-container {
    width: 15vw;
    height: 4vw;
    display: flex;
    flex-direction: row;
}

.db-wrapper li.active a {
    color: #47A515;
}

.db-wrapper svg {
    color: #A6A6A6;
}

.db-wrapper .active svg {
    color: #47A515;
}

.db-wrapper a {
    margin-left: 0.5vw;
}

.rectangle {
    margin-top: 0.5vw;
    width: 10vw;
    height: 0.5vw;
    background-color: #47A515;
    border-radius: 1vw;
}

.link-wrapper {
    display: flex;
    align-items: center;
}